#problemContainer {
    width: 800px;
    height: 400px;
}

#developmentContainer {
    width: 800px;
    height: 500px;
}

#solutionContainer {
    width: 800px;
    height: 300px;
}

.summary li {
    list-style-type: none;
    font-weight: bold;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
