.onoffswitch {
    position: relative;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #909CA8; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "MOSTRAR EJERCICIOS RESUELTOS";
    padding-left: 10px;
    background: #004E9C; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#004E9C, #6c6a6a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#004E9C, #6c6a6a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#004E9C, #6c6a6a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#004E9C, #6c6a6a); /* Standard syntax (must be last) */
    background-color: #004E9C; color: #FFFFFF;    
}
.onoffswitch-inner:after {
    content: "OCULTAR EJERCICIOS RESUELTOS";
    padding-right: 10px;
    background-color: #CAD4E8; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 266px;
    border: 1px solid #909CA8; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.switch-column {
    padding-left: 65px;
}