body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.exercise-search-box {
    background-color: transparent;
    margin: 0;
}

.exercise-search-result {
    /* Same padding than Jumbotron from bootstrap */
    padding-left: 60px;
    padding-right: 60px;
}

.exercise-breadcrumb-mod {
    margin-top: 20px;
    background-color: #f3f1f1 !important;
    margin-bottom: 50px;
}

.vertical-space {
    height: 60px;
}

#solutionContainer {
    width: 500px;
    height: 200px;
}

.exercise-legend {
    color: #a8a6a6 !important;
}

#problemDIV {
    overflow:auto;
}

#problemDIV small {
    margin-top: 30px;
}

.label-lg {
    font-size: 13px !important;
}

.exercise-bg {
    background-color: rgba(239, 239, 239, 0.60);
}

.sidebox-social {
    padding: 0 0 5px 0;
}
.sidebox {    
    overflow: hidden;
    margin: 0px 0px 15px 0px;
    min-width: 300px;
}
.sidebox-social a:link, .sidebox-social a:visited, .sidebox-social a:hover, .sidebox-social a:active {
    float: right;
    width: 32px;
    height: 32px;
    margin: 0px 15px 10px 12px;
    padding: 0;
    text-indent: -9999em;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    background-color: transparent;
    background-image: url('images/crunchify-follow-sprite.png');
    background-repeat: no-repeat;
}
.sm-rss {
    background-position: 0 0;
}
.sm-goo {
    background-position: 0 -32px;
}
.sm-fac {
    background-position: 0 -64px;
}
.sm-twi {
    background-position: 0 -160px;
}
.sm-wor {
    background-position: 0 -192px;
}