html, 
body {
    height: 100%;    
}

footer {
    padding-bottom: 10px;
}

.visit {
    position: fixed;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 9999;
    border-radius: 0px !important;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
}

.padding-zero {
    padding-left:0 !important;
    padding-right:0 !important;    
}

.wrapper{
    /*background: url('/Content/images/Landing image.png') no-repeat   center center fixed;*/
    background: url('/Content/images/bg3.jpg') no-repeat   center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    margin-top: -15px;    
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 3px 1px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 3px 1px rgba(0, 0, 0, 1);
}

.jumbotron-video {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 3px 1px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 3px 1px rgba(0, 0, 0, 1);
}

#video-background { 
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}

.jumbotron-video div {
    /*position: relative;*/
    z-index: 1;
}

.overflow {
    overflow: auto !important;
}

@font-face {
    font-family:UncialAntiqua-regular;
    src:url('/content/fonts/UncialAntiqua-Regular.otf')format('opentype');
    src:local('/content/fonts/UncialAntiqua-Regular.otf')format('opentype');
}

.landingpage {
    color: white !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.landingpage a:hover {
    color: white !important;
}

#logo {
    font-family: UncialAntiqua-regular;
    height: 30px;
    margin: 10px;
}

#logo_letras {
    font-family: UncialAntiqua-regular;
}

#landing_message ul {
    list-style-type: none;
}

#landing_message li {
    font-size: 20px;
    font-weight: normal !important;    
}

#landing_message li > span {
    font-size: 16px;    
}

.homeLogo {
    padding-top: 60px;
    font-family: UncialAntiqua-regular;
    font-size: 90px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;    
    background: url(images/Background7_edited.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-shadow {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.61);
    -moz-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.61);
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.61);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.exercise-search-box {
    background-color: transparent;
    padding-bottom: 0;
    margin: 0;
}

.exercise-search-result {
    margin-top: 30px;
    margin-bottom: 30px;
}

.exercise-title {
    max-height: 32px;
    overflow: hidden;
}

.exercise-description {
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
}

div.exercise-card div.thumbnail {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: color 0 ease-in !important;
    transition: none !important;
}

div.exercise-card div.thumbnail:hover {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 2px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 2px 0px rgba(0, 0, 0, 1);
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: color 0 ease-in !important;
    transition: none !important;
}

div.exercise-card a {
    text-decoration: none;
}

div.exercise-card div.thumbnail {
    border-color: #999999;
}

div.topic-exercises-container {
    border-top: 2px #033c73 solid;
}

.text-logios {
    color: #033c73;
}

.decorate {
    border-color: #033c73;
    outline: 0;    
}

.logios-header {
    background-color: #033c73;
    color: white;
}

.col-vcenter {
    vertical-align: middle !important;
}

.topic-area-search-box {
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
}

#search-tags {
    margin-top: 5px;
}

.search-tag {
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
    padding: 6px;
}

.vertical-space {
    height: 60px;
}

.exercise-legend {
    color: #808080 !important;
}

div blockquote {
    overflow:auto;
}

#problemDIV small {
    margin-top: 30px;
}

.label-lg {
    font-size: 13px !important;
}

.exercise-bg {
    background-color: rgb(243, 242, 242);
    margin-bottom: 0;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

#loginForm div.checkbox {
    padding: 0;
    padding-top: 10px;
}

#loginForm input[type="checkbox"] {
    margin-left: 0;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

 ul li a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.font-larger {
    font-size: larger;
}

.tab-background {
    padding: 15px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-color: #dddddd;
}

.head-align th {
    text-align: center;
}

.radio label {
    margin-left: -15px !important;
}

.vertical-space-1 {
    margin-bottom: 20px;
}

.vertical-space-2 {
    margin-bottom: 40px;
}

.vertical-space-3 {
    margin-bottom: 60px;
}

.topic-area-statistics-title {
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

span.badge.resolved-exercises {
    float: right;
}

span.badge.resolved-exercises-header {
    float: right;
    font-size: 20px;
}

img.trophy-image {
    height: 100px;
    width: 100px;
}

.trophy-title {
    margin-top: 0;
}

.text-default {
    color: black;
}

.button-transparent {       
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.tooltip-inner {        
    min-width: 100px;
    max-width: 100%;
}

.trash-avatar {
    display: none;
}

.favorite-star {
    cursor: pointer;
    float: right;
}

.favorite-star:hover {
    opacity: 0.6;
}

.fix-star {
    font-size: 32px;
    margin-top: -10px;    
}

@media(min-width: 1200px) {
    .fix-star {
        margin-right: 46px;
    }
}

h1 .favorite-star {
    float: none;
    font-size: 32px;
}

.is-disabled {        
    pointer-events: none !important;
}

.hide-column {
    display: none;
}

.fade-trophy {
    opacity: 0.4 !important;
}

.effect img:hover {
    opacity: 0.5 !important;
}

/* Arbol de ejercicios resueltos */
.topic-menu {
    cursor: pointer;
    font-size: larger;        
}

#menu_gral {        
    margin-left: -40px;
}

#menu_gral ul {
    list-style-type: none;            
}        

#menu_gral a {
    text-decoration: none;            
    line-height: 2.5rem;
}   

#menu_gral a:hover {
    color: forestgreen;
}

.tutorial-button {
    margin-right: -5px !important;
}

#MathJax-Element-1-Frame, #MathJax-Element-2-Frame {
    font-size: 22px !important;        
}

.btnEdit {
    border-color: green;
}

.btnDelete {
    border-color: darkred;
}

.btnEdit:hover, .btnDelete:hover {
    border-color: cornflowerblue;
}

.btn {
    -webkit-transition: all .35s ease-out;
    transition: all .35s ease-out;
}

.btn:hover {
    -webkit-box-shadow: inset 1px 1px 8px 3px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    inset 1px 1px 8px 3px rgba(255, 255, 255, 0.75);
    box-shadow:         inset 1px 1px 8px 3px rgba(255, 255, 255, 0.75);       
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.topic-statistics a {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: color 0 ease-in !important;
    transition: none !important;
    color: #2c5b89;
}

.arrowDown, .arrowUp {        
    border: 0.1em solid #969696;
    text-align: center;
    height: 12px;
    border-top: none;
    margin-top: -2px;
    margin-bottom: 16px;
}

.arrowUp {
    border-left: none;
}

.arrowDown:hover, .arrowUp:hover {
    background-color: #DDDDDD;
    cursor: pointer;    
}