/*a.logo {
    background: url(/content/images/LOGO_V2.0.svg) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px;
}*/

.wrapper{
    /*background: url('/Content/images/Landing image.png') no-repeat   center center fixed;*/
    background: url('/Content/images/bg3.jpg') no-repeat   center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

#logo {
    height:30px;
    margin:10px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.exercise-search-box {
    background-color: transparent;
    margin: 0;
}

.exercise-search-result {
    /* Same padding than Jumbotron from bootstrap */
    padding-left: 60px;
    padding-right: 60px;
}

#topicAreaSearchBox {
    background-color: transparent;
}

.search-tag {
    margin-right: 10px;
    cursor: pointer;
}

.vertical-space {
    height: 60px;
}

#solutionContainer {
    width: 500px;
    height: 200px;
}

.exercise-legend {
    color: #808080 !important;
}

@media (max-width: 768px) {
    div blockquote {
        overflow:auto;
    }
}

#problemDIV small {
    margin-top: 30px;
}

.label-lg {
    font-size: 13px !important;
}

.exercise-bg {
    background-color: rgb(243, 242, 242);
}

#loginForm div.checkbox {
    padding: 0;
    padding-top: 10px;
}

#loginForm input[type="checkbox"] {
    margin-left: 0;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

/*p span {
    font-size: 22px !important;
}*/

/*.sidebox-social {
    padding: 0 0 5px 0;
}
.sidebox {    
    overflow: hidden;
    margin: 0px 0px 15px 0px;
    min-width: 300px;
}
.sidebox-social a:link, .sidebox-social a:visited, .sidebox-social a:hover, .sidebox-social a:active {
    float: right;
    width: 32px;
    height: 32px;
    margin: 0px 15px 10px 12px;
    padding: 0;
    text-indent: -9999em;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    background-color: transparent;
    background-image: url('images/crunchify-follow-sprite.png');
    background-repeat: no-repeat;
}
.sm-rss {
    background-position: 0 0;
}
.sm-goo {
    background-position: 0 -32px;
}
.sm-fac {
    background-position: 0 -64px;
}
.sm-twi {
    background-position: 0 -160px;
}
.sm-wor {
    background-position: 0 -192px;
}*/