html, 
body {
    height: 100%;    
}

footer {
    padding-bottom: 10px;
}

.visit {
    position: fixed;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 9999;
    border-radius: 0px !important;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
}

.padding-zero {
    padding-left:0 !important;
    padding-right:0 !important;    
}

.wrapper{
    /*background: url('/Content/images/Landing image.png') no-repeat   center center fixed;*/
    background: url('/Content/images/bg3.jpg') no-repeat   center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}

.overflow {
    overflow: auto !important;
}

@font-face {
    font-family:UncialAntiqua-regular;
    src:url('/content/fonts/UncialAntiqua-Regular.otf')format('opentype');
    src:local('/content/fonts/UncialAntiqua-Regular.otf')format('opentype');
}

.landingpage {
    color:white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#logo {
    font-family: UncialAntiqua-regular;
    height:30px;
    margin:10px;
}

#logo_letras {
    font-family: UncialAntiqua-regular;
}

.homeLogo {
    padding-top: 60px;
    font-family: UncialAntiqua-regular;
    font-size: 90px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;    
    background: url(images/Background7_edited.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-shadow {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.61);
    -moz-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.61);
    box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.61);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.exercise-search-box {
    background-color: transparent;
    padding-bottom: 0;
    margin: 0;
}

.exercise-search-result {
    margin-top: 30px;
    margin-bottom: 30px;
}

.exercise-title {
    max-height: 26px;
    overflow: hidden;
}

.exercise-description {
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
}

div.exercise-card div.thumbnail {
    border-color: #999999;
}

div.topic-exercises-container {
    border-top: 2px #033c73 solid;
}

.text-logios {
    color: #033c73;
}

.topic-area-search-box {
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
}

#search-tags {
    margin-top: 5px;
}

.search-tag {
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
    padding: 6px;
}

.vertical-space {
    height: 60px;
}

.exercise-legend {
    color: #808080 !important;
}

div blockquote {
    overflow:auto;
}

#problemDIV small {
    margin-top: 30px;
}

.label-lg {
    font-size: 13px !important;
}

blockquote.exercise-bg {
    background-color: rgb(243, 242, 242);
    margin-bottom: 0;
}

#loginForm div.checkbox {
    padding: 0;
    padding-top: 10px;
}

#loginForm input[type="checkbox"] {
    margin-left: 0;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

 ul li a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.font-larger {
    font-size: larger;
}

.tab-background {
    padding: 30px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-color: #dddddd;
}

.head-align th {
    text-align: center;
}

.radio label {
    margin-left: -15px !important;
}

.vertical-space-1 {
    margin-bottom: 20px;
}

.vertical-space-2 {
    margin-bottom: 40px;
}

.vertical-space-3 {
    margin-bottom: 60px;
}

.topic-area-statistics-title {
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

span.badge.resolved-exercises {
    float: right;
}

span.badge.resolved-exercises-header {
    float: right;
    font-size: 20px;
}

img.trophy-image {
    height: 100px;
    width: 100px;
}

.trophy-title {
    margin-top: 0;
}

.text-default {
    color: black;
}

.button-transparent {       
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.tooltip-inner {        
    min-width: 100px;
    max-width: 100%;
}

.trash-avatar {
    display: none;
}

/*.sidebox-social {
    padding: 0 0 5px 0;
}
.sidebox {    
    overflow: hidden;
    margin: 0px 0px 15px 0px;
    min-width: 300px;
}
.sidebox-social a:link, .sidebox-social a:visited, .sidebox-social a:hover, .sidebox-social a:active {
    float: right;
    width: 32px;
    height: 32px;
    margin: 0px 15px 10px 12px;
    padding: 0;
    text-indent: -9999em;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    background-color: transparent;
    background-image: url('images/crunchify-follow-sprite.png');
    background-repeat: no-repeat;
}
.sm-rss {
    background-position: 0 0;
}
.sm-goo {
    background-position: 0 -32px;
}
.sm-fac {
    background-position: 0 -64px;
}
.sm-twi {
    background-position: 0 -160px;
}
.sm-wor {
    background-position: 0 -192px;
}*/