@model Logios.Models.RegisterViewModel

<div id="landing_message" class="col-md-6 landingpage">
    <h2 style="font-size: 32px;">¿Por qué debería registrarme?</h2>
    <p>- Con una cuenta podrás:</p>
    <ul>
        <li><span class="glyphicon glyphicon-plus"></span> Resolver ejercicios</li>
        <li><span class="glyphicon glyphicon-plus"></span> Ver el desarrollo de cada ejercicio</li>
        <li><span class="glyphicon glyphicon-plus"></span> Obtener premios por tu desempeño</li>
        <li><span class="glyphicon glyphicon-plus"></span> Guardar ejercicios en tus favoritos</li>
        <li><span class="glyphicon glyphicon-plus"></span> Ver estadísticas de tus ejercicios resueltos</li>
    </ul>                    
    <h2>¡Que esperas para probar <span class="logios">Logios</span>!</h2>
</div>

<div class="col-md-6 landingpage">
    @Html.Partial("_HomeSocialLogin", new Logios.Models.ExternalLoginListViewModel { ReturnUrl = "/" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}