<h2><b>¿No sabés lo que estas buscando?</b></h2>

<p class="text-default">Probá nuestra navegación por áreas temáticas.</p>
<p class="text-default">La mejor manera de descubrir ejercicios, apretá el botón para navegar.</p>

<a href='@Url.Action("Index", "TopicArea")'>
    <button class="btn btn-info btn-lg">Navegación por áreas temáticas</button>
</a>