<h2>No sabés lo que estas buscando?</h2>
<p>
    Probá nuestra navegación por áreas temáticas. La mejor manera de descubrir
    ejercicios, apretá el botón para navegar.
</p>
<a href='@Url.Action("Index", "TopicArea")'>
    <button class="btn btn-info btn-lg">Navegación por áreas temáticas</button>
</a>