@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron exercise-search-box">
    @using (Ajax.BeginForm(
                "Search",
                "Home",
                null,
                new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "exerciseSearchResult",
                    OnComplete = "animateResults"
                },
                new
                {
                    Id = "exerciseSearchForm",
                    @Class = "form",
                    Role = "form"
                }
            )
    )
    {
        <div class="form-group form-group-lg">
            <div class="input-group input-group-lg">
                <input type="hidden" name="topicId" />
                <input id="searchInput" type="text" class="form-control" placeholder="Busca un tema, ej: Integrales" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    }
</div>
<div id="exerciseSearchResult" class="exercise-search-result">
</div>