@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <form role="form" method="post" action="@Url.Action("Search", "Home")">
        <div class="form-group">
            <input type="text" class="form-control" name="topicId" id="searchExercise" placeholder="Busque un ejercicio" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>