@model Boolean?

<script>
    //$(".modal").modal({ backdrop: "static" });
    $(".modal").modal('show');
</script>

@if (Model.Value)
{
    <div class="modal fade" data-backdrop="static">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h3 class="modal-title text-center text-primary"><b>Ejercicio creado correctamente <span class="glyphicon glyphicon-ok"></span></b></h3>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">                            
                            <div class="col-md-6">
                                <a href="@Url.Action("AddExercise", "Administrator")" class="btn btn-block btn-info">Agregar otro ejercicio</a>
                            </div>
                            <div class="col-md-6">
                                <a href="@Url.Action("ControlPanel", "Administrator")" class="btn btn-block btn-info">Volver a panel de control</a>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal fade" aria-hidden="true" data-backdrop="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h3 class="modal-title text-center text-danger"><b>Ha ocurrido un error <span class="glyphicon glyphicon-remove"></span></b></h3>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <a href="@Url.Action("ControlPanel", "Administrator")" class="btn btn-block btn-info">Volver a panel de control</a>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-block btn-info" data-dissmiss="modal" aria-hidden="true">Intentar de nuevo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
