<div>
    <div class="row vertical-space-1">
        <a href="@Url.Action("AddExercise", "Administrator")" class="btn btn-info">Crear nuevo ejercicio</a>
        <a href="@Url.Action("EditExercise", "Administrator", new { id = 1 })" class="btn btn-info">Editar ejercicio 1</a>
        <a href="@Url.Action("EditExercise", "Administrator", new { id = 2 })" class="btn btn-info">Editar ejercicio 2</a>
        <a href="@Url.Action("EditExercise", "Administrator", new { id = 3 })" class="btn btn-info">Editar ejercicio 3</a>
    </div>

    <div class="row form-inline">
        <input id="valor" class="form-control" />
        <a class="btn btn-info" onclick="deleteExercise(document.getElementById('valor').value);">Eliminar ejercicio</a>
    </div>
</div>