@{
    ViewBag.Title = "Panel de control";
}

<div class="help-block"></div>
@if (TempData["result"] != null)
{
    @Html.Partial("_DeleteExerciseResult", TempData["result"])
}

<div class="container col-lg-12">
    <h1><b><span class="glyphicon glyphicon-cog"></span> @ViewBag.Title</b></h1>
    <h3><i>¿Que desea hacer?</i></h3>
    <hr />

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#exerciseAdmin" aria-controls="exerciseAdmin" data-toggle="tab" role="tab" aria-expanded="true"><span class="glyphicon glyphicon-edit"></span> Administrar ejercicios</a></li>
            <li role="presentation" class=""><a id="tabTopicAdmin" href="#topicAdmin" aria-controls="exerciseAdmin" data-toggle="tab" role="tab" aria-expanded="true"><span class="glyphicon glyphicon-text-height"></span> Administrar temáticas</a></li>
            <li role="presentation" class=""><a id="tabTopicAreaAdmin" href="#topicAreaAdmin" aria-controls="topicAreaAdmin" data-toggle="tab" role="tab" aria-expanded="false"><span class="glyphicon glyphicon-font"></span> Áreas temáticas</a></li>                                    
            <li role="presentation" class=""><a id="tabUserAdmin" aria-controls="userAdmin" href="#userAdmin" role="tab" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Administrar usuarios</a></li>
            <li role="presentation" class=""><a id="tabRoleAdmin" aria-controls="roleAdmin" href="#roleAdmin" role="tab" data-toggle="tab" aria-expanded="false"><span class="glyphicon glyphicon-certificate"></span> Roles</a></li>
            <li role="presentation" class=""><a id="tabTrophyAdmin" aria-controls="trophyAdmin" href="#trophyAdmin" data-toggle="tab" role="tab" aria-expanded="false"><span class="glyphicon glyphicon-glass"></span> Ver trofeos</a></li>            
        </ul>

        <div id="myTabContent" class="tab-content tab-background">
            <div role="tabpanel" class="tab-pane fade active in" id="exerciseAdmin">                
            </div>
            <div role="tabpanel" class="tab-pane fade" id="topicAdmin">
            </div>
            <div role="tabpanel" class="tab-pane fade" id="topicAreaAdmin">                
            </div>            
            <div role="tabpanel" class="tab-pane fade" id="userAdmin">                
            </div>
            <div role="tabpanel" class="tab-pane fade" id="roleAdmin">
            </div>
            <div role="tabpanel" class="tab-pane fade" id="trophyAdmin">                
            </div>            
        </div>
    </div>
</div>

<div id="divModal"></div>

<div id="loadAnimation" class="hide">
    <img src="~/Content/images/loading.gif" alt="loading" width="100" class="center-block" />
</div>

@section scripts {     
    @Scripts.Render("~/Scripts/tabs.js")
    @Scripts.Render("~/Scripts/controlPanel.js")
}