
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Script desactivado</title>
</head>
<body>
    <div style="font-size: 30px; font-family: Arial;">
        <p>Logios necesita que actives Javascript en tu navegador para funcionar apropiadamente.</p>
        <p>Actívalo e <a href="/Home/Index">inténtalo nuevamente.</a></p>
    </div>
</body>
</html>