<div>
    <div class="col-lg-6 arrowDown" data-toggle="tooltip" title="Aumentar espacio">
        <button class="button-transparent"><img src="~/Content/images/arrow_drop_down.png" alt="increment_heightEditor" width="24" style="margin-top: -14px;" /></button>
    </div>
    <div class="col-lg-6 arrowUp" data-toggle="tooltip" title="Disminuir espacio">
        <button class="button-transparent"><img src="~/Content/images/arrow_drop_up.png" alt="increment_heightEditor" width="24" style="margin-top: -12px;" /></button>
    </div>
</div>
