@model Logios.Models.ExercisesByAreaViewModel

@{
    ViewBag.Title = ViewBag.TopicAreaDescription;
    var topics = Model.Topics.ToList();
    var exerciseResults = Model.ExerciseResultViewModels.ToList();
}

<h1>@ViewBag.Title</h1>
<br />

@for (int i = 0; i < topics.Count; i++)
{
    <div class="topic-exercises-container">
        <h3 class="text-logios">@topics[i].Description</h3>
        <div>
            @{Html.RenderPartial("_ExerciseSearchResult", exerciseResults[i]);}
        </div>
    </div>
}
    