@model Logios.Models.ExerciseUserPanelViewModel
@{ int colNumber = 0; }
<div>
    @foreach (var topicAreaDescription in Model.Statistics.Keys)
    {
        int total = 0;

        Model.Statistics[topicAreaDescription]
            .Select(ts => ts.Value)
            .ToList()
            .ForEach(v => total += v);

        if (colNumber % 3 == 0)
        {
            @Html.Raw("<div class=\"row\">");
        }
            <div class="col-md-4">
                <h3 class="topic-area-statistics-title">@topicAreaDescription <span class="badge resolved-exercises-header"> @total </span></h3>
                @foreach (var topicStatistics in Model.Statistics[topicAreaDescription])
                {
                    <p class="topic-statistics">@topicStatistics.Key <span class="badge resolved-exercises"> @topicStatistics.Value </span> </p>
                }                
            </div>
        if (colNumber % 3 == 2)
        {
            @Html.Raw("</div>");
        }
        { colNumber++; }
    }
</div>
