@model Logios.Models.ExerciseUserPanelViewModel
@{ int colNumber = 0; }

<style>
    .topic-menu {
        cursor: pointer;
        font-size: larger;        
    }

    #menu_gral {        
        margin-left: -40px;
    }

    #menu_gral ul {
        list-style-type: none;            
    }        

    #menu_gral a {
        text-decoration: none;            
        line-height: 2.5rem;
    }            
</style>

<script>
    function openExercises() {        
        if ($('.topic-menu').next('ul').css('display') == 'none') {
            $('.topic-menu > span:first').removeClass('glyphicon glyphicon-chevron-right');
            $('.topic-menu > span:first').addClass('glyphicon glyphicon-chevron-down')
            $('.topic-menu').next('ul').css('display', 'block');
        }
        else {
            $('.topic-menu > span:first').removeClass('glyphicon glyphicon-chevron-down');
            $('.topic-menu > span:first').addClass('glyphicon glyphicon-chevron-right')
            $('.topic-menu').next('ul').css('display', 'none');
        }
    }
</script>



<div>
    @foreach (var topicAreaDescription in Model.Statistics.Keys)
    {
        int total = 0;

        Model.Statistics[topicAreaDescription]
            .Select(ts => ts.Value)
            .ToList()
            .ForEach(v => total += v);

        if (colNumber % 3 == 0)
        {
            @Html.Raw("<div class=\"row\">");
        }
            <div class="col-md-4">
                <h3 class="topic-area-statistics-title">@topicAreaDescription <span class="badge resolved-exercises-header"> @total </span></h3>
                <nav id="menu_gral">
                    <ul>
                        @foreach (var topicStatistics in Model.Statistics[topicAreaDescription])
                        {
                            <li class="topic-statistics">
                                <a onclick="openExercises();" class="text-info topic-menu">
                                    <span class="glyphicon glyphicon-chevron-right"></span> @topicStatistics.Key <span class="badge resolved-exercises"> @topicStatistics.Value </span>
                                </a>
                                <ul style="display: none;">
                                    <li><a href="#"><span class="glyphicon glyphicon-file"></span> Ejercicio 1</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-file"></span> Ejercicio 5</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        if (colNumber % 3 == 2)
        {
            @Html.Raw("</div>");
        }
        { colNumber++; }
    }
</div>
