@{
    ViewBag.Title = "Perfil de usuario";
}

<div class="vertical-space"></div>
<div class="col-md-12 container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#profilePanel" aria-controls="profilePanel" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Administrar Perfil</a></li>
        <li role="presentation"><a href="#badgesAndPointsPanel" aria-controls="badgesAndPointsPanel" role="tab" data-toggle="tab" data-url='@Url.Action("LoadBadgesAndPointsPanel","Manage")'><span class="glyphicon glyphicon-glass"></span> Trofeos y Puntos</a></li>
        <li role="presentation"><a href="#exercisePanel" aria-controls="exercisePanel" role="tab" data-toggle="tab" data-url='@Url.Action("LoadExercisesPanel","Manage")'><span class="glyphicon glyphicon-stats"></span> Estadisticas de Ejercicios</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content tab-background">
        <div role="tabpanel" class="tab-pane active" id="profilePanel">
            @{Html.RenderPartial("_ConfigurationUserPanel");}
        </div>
        <div role="tabpanel" class="tab-pane" id="badgesAndPointsPanel">
        </div>
        <div role="tabpanel" class="tab-pane" id="exercisePanel">
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/manage.js"></script>