<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profilePanel" aria-controls="profilePanel" role="tab" data-toggle="tab">Administrar Perfil</a></li>
    <li role="presentation"><a href="#badgesAndPointsPanel" aria-controls="badgesAndPointsPanel" role="tab" data-toggle="tab" data-url='@Url.Action("LoadBadgesAndPointsPanel","Manage")'>Trofeos y Puntos</a></li>
    <li role="presentation"><a href="#exercisePanel" aria-controls="exercisePanel" role="tab" data-toggle="tab" data-url='@Url.Action("LoadExercisesPanel","Manage")'>Estadisticas de Ejercicios</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profilePanel">
        @{Html.RenderPartial("_ConfigurationUserPanel");}
    </div>
    <div role="tabpanel" class="tab-pane" id="badgesAndPointsPanel">
    </div>
    <div role="tabpanel" class="tab-pane" id="exercisePanel">
    </div>
</div>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/manage.js"></script>