@model Logios.Models.ExerciseResultViewModel

<h1>@ViewBag.TopicDescription</h1>
<div class="exercise-search-result">
    @{ Html.RenderPartial("~/Views/Home/_ExerciseSearchResult.cshtml", Model); }
</div>