@{
    ViewBag.Title = "Confirmar recuperación de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, revise su e-mail para restablecer su contraseña.
    </p>
</div>
	
