 @model Boolean?

<script>            
    var resultModal = $('#resultModal')

    resultModal.modal({
        keyboard: true,
        backdrop: 'static',
        show: true
    });

    function closeModal(result) {
        if (result) {
            resultModal.modal('hide');
            window.location.reload(true);
        } else {
            resultModal.modal('hide');
        }
    }
</script>

@if (Model.Value)
{
    <div id="resultModal" class="modal fade">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-center text-success"><b>¡RESPUESTA CORRECTA! <span class="glyphicon glyphicon-ok-circle"></span></b></h3>
                    </div>
                    <div class="modal-body text-center">
                        <h4>¡Felicitaciones!</h4>
                        <h4>Has obtenido un punto por resolver este ejercicio.</h4>
                        <p><i>(NOTA: Sólo se otorgan puntos la primera vez.)</i></p>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">                            
                            @Html.Partial("_ShareButtons")                            
                            <div class="col-md-3">
                                <button type="button" class="btn btn-info" onclick="closeModal(true)">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="resultModal" class="modal fade">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-center text-danger"><b>¡RESPUESTA INCORRECTA! <span class="glyphicon glyphicon-remove-circle"></span></b></h3>
                    </div>
                    <div class="modal-body text-center">
                        <h4>¡Vaya!</h4>
                        <h4>Has fallado...</h4>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-info"  onclick="closeModal(false)">Inténtalo de nuevo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
