@model string

<div class="col-md-3">
    <p style="padding-top: 13px;">Compartir en:</p>
</div>

<!-- Share on Twitter -->
<div class="col-md-2">
    <a class="twitter popup" href="http://twitter.com/share?text=¡He ganado el trofeo @Model en Logios! Tú también puedes ganarlo, ¡anímate!" title="Twitter"><img src="~/Content/images/share_social/1465195920_twitter_circle.png" width="48" alt="Twittear" /></a>
    <script>
      $('.popup').click(function(event) {
        var width  = 575,
            height = 400,
            left   = ($(window).width()  - width)  / 2,
            top    = ($(window).height() - height) / 2,
            url    = this.href,
            opts   = 'status=1' +
                     ',width='  + width  +
                     ',height=' + height +
                     ',top='    + top    +
                     ',left='   + left;

        window.open(url, 'twitter', opts);

        return false;
      });
    </script>
</div>

<!-- Share on Facebook -->

<div class="col-md-2">
    <script>
        function fbs_click() {
            //u = location.href; t = document.title; window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + '&t=' + encodeURIComponent(t), 'sharer', 'toolbar=0,status=0,width=626,height=436'); return false;
            u = location.href; t = document.title; window.open('http://www.facebook.com/sharer.php?u=https://developers.facebook.com/docs/plugins/', 'sharer', 'toolbar=0,status=0,width=626,height=436'); return false;
        }
    </script>
    <a href="http://www.facebook.com/share.php?u=<url>" onclick="return fbs_click()" target="_blank" title="Facebook"><img src="~/Content/images/share_social/1465196478_facebook_circle.png" width="48" alt="Facebook" /></a>
</div>

<!-- Share on Google+ -->

<div class="col-md-2">
    <script>
        function googleplusbtn(url) {
          sharelink = "https://plus.google.com/share?url=" + url;
          newwindow = window.open(sharelink,'name','height=400,width=600');
          if (window.focus) { newwindow.focus() }
          return false;
        }
    </script>
    <a title="share on google+" href="https://plus.google.com/share?url=<url>" onclick="return googleplusbtn('http://www.ole.com.ar/')"><img src="~/Content/images/share_social/1465196475_google_circle.png" width="48" alt="Google+" /></a>
</div>